body {
  background-color: grey
}

.Mommy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}

.Songs {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: left; 
}

.lyric {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}